NET "DA[0]" LOC = P66;
NET "DA[1]" LOC = P62;
NET "DA[2]" LOC = P61;
NET "DA[3]" LOC = P59;
NET "SEGMENT[0]" LOC = P27;
NET "SEGMENT[1]" LOC = P29;
NET "SEGMENT[2]" LOC = P32;
NET "SEGMENT[3]" LOC = P34;
NET "SEGMENT[4]" LOC = P35;
NET "SEGMENT[5]" LOC = P40;
NET "SEGMENT[6]" LOC = P41;
NET "CLK" LOC = P123;
NET "COMMON" LOC = P44;